
impacts/melee_casutic_hammer.txt
impacts/melee_club.txt
impacts/melee_crypto_drone.txt
impacts/melee_crypto_sword.txt
impacts/melee_gadget.txt
impacts/melee_gurkha.txt
impacts/melee_knife.txt
impacts/melee_loba_fan.txt
impacts/melee_loba_fan_blunt.txt
impacts/melee_mir_statue.txt
impacts/melee_prowler.txt
impacts/melee_rampart_wrench.txt
impacts/melee_scythe.txt
impacts/melee_spear.txt
impacts/melee_spear_blunt.txt
levels/settings/mp_rr_desertlands_64k_x_64k.kv
vscripts/weapons/melee_crypto_heirloom.nut
vscripts/weapons/melee_valkyrie_spear.nut
vscripts/weapons/mp_weapon_valkyrie_spear_primary.nut
weapons/melee_bangalore_heirloom.txt
weapons/melee_bloodhound_axe.txt
weapons/melee_caustic_hammer.txt
weapons/melee_crypto_heirloom.txt
weapons/melee_gibraltar_club.txt
weapons/melee_lifeline_baton.txt
weapons/melee_loba_heirloom.txt
weapons/melee_mirage_statue.txt
weapons/melee_octane_knife.txt
weapons/melee_pathfinder_gloves.txt
weapons/melee_rampart_wrench.txt
weapons/melee_revenant_scythe.txt
weapons/melee_valkyrie_spear.txt
weapons/melee_wattson_gadget.txt
weapons/melee_wraith_kunai.txt
weapons/mp_weapon_bangalore_heirloom_primary.txt
weapons/mp_weapon_bloodhound_axe_primary.txt
weapons/mp_weapon_caustic_hammer_primary.txt
weapons/mp_weapon_crypto_heirloom_primary.txt
weapons/mp_weapon_gibraltar_club_primary.txt
weapons/mp_weapon_lifeline_baton_primary.txt
weapons/mp_weapon_loba_heirloom_primary.txt
weapons/mp_weapon_mirage_statue_primary.txt
weapons/mp_weapon_octane_knife_primary.txt
weapons/mp_weapon_pathfinder_gloves_primary.txt
weapons/mp_weapon_rampart_wrench_primary.txt
weapons/mp_weapon_revenant_scythe_primary.txt
weapons/mp_weapon_valkyrie_spear_primary.txt
weapons/mp_weapon_wattson_gadget_primary.txt
weapons/mp_weapon_wraith_kunai_primary.txt
weapons/mp_weapon_wraith_kunai_primary.txt
weapons/mp_weapon_lifeline_baton_primary.txt
weapons/mp_weapon_bloodhound_axe_primary.txt
weapons/melee_wraith_kunai.txt
weapons/melee_lifeline_baton.txt
weapons/melee_bloodhound_axe.txt
